*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 25px;
    padding: 38px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);position: relative;
}

.profile-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fHllbGxvd3xlbnwwfHx8fDE2OTI0NTYyNzM&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 2px;
    margin-bottom: 10px;
 }
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-data .name{
    font-size: 25px;
    font-weight: 500;
}
.text-data .job{
    font-size: 18px;
    font-weight: 400;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;

}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: black;
    border-radius: 50%;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.media-buttons .link:hover{
    background-color: #f2f2f2;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}
.media-buttons .link i{
    font-size: 20px;
    color: black;
}
.profile-card .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
}
.buttons .button{
    color: black;
    background-color: #f8ec14; /* Yellow background */
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    background-color: #f2f2f2; /* Black shade on hover */
    color: black; /* Optional: Change text color to white for better contrast */
    transition: all 0.3s ease-in-out;
    transform: scale(1.05); /* Slight scaling effect */
}
